*{
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: #ffe4c4;
    z-index: -1;
  }
  
  .navbar{
    background-color: #724100;
    height: 80px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .a{
    position: absolute;
    left: 340px;
    top: 20px;
  }
  
  .navbar a{
    color: #ffe4c4;
    text-decoration: none;
    font-size: 30px;
    padding: 40px;
  }
  
  .navbar a:hover {
    color: #000000;
    transition: 0.75s;
  }

  .logo {
    position: absolute;
    left: 550px;
    top: 10px;
  }

  .logo img { 
    width: 400px;
    height: 400px;
  }

  .sec1 { 
    width: 70%;
    word-wrap: break-word;
    position: absolute;
    left: 310px;
    top: 340px;
  }

  .ps-img{
    width: 150px;
    height: 150px;
    rotate: 20deg;
    position: absolute;
    left: -190px;
    bottom: -80px;
  }

  .ping-img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 850px;
    top: -100px;
  }

  .coffe-img {
    width: 150px;
    height: 200px;
    position: absolute;
    left: -190px;
    top: -150px;
  }

  .pool-img {
    width: 220px;
    height: 150px;
    position: absolute;
    left: 850px;
    bottom: -90px;
    z-index: -2;
  }

  #hello {
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }

  .sec1 pre {
    font-size: 35px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }

  @media (max-width : 600px) {
    .a{
      position: absolute;
      left: 0;
      top: 30px;
    }
    
    .navbar a{
      font-size: 17px;
      padding: 7px;
    }
  
    .logo {
      position: absolute;
      left: 62.9px;
      top: 30px;
    }
  
    .logo img { 
      width: 230px;
      height: 230px;
    }
  
    .sec1 { 
      position: absolute;
      left: 5px;
      top: 340px;
      word-wrap: break-word;
    }

    .sec1 img{
      z-index: -2;
    }
  
    .ps-img{
      width: 80px;
      height: 80px;
      rotate: 15deg;
      position: absolute;
      left: 10px;
      top: 160px;
    }
  
    .ping-img{
      width: 80px;
      height: 80px;
      position: absolute;
      left: 260px;
      top: -80px;
    }
  
    .coffe-img {
      width: 70px;
      height: 100px;
      position: absolute;
      left: -5px;
      top: -100px;
    }
  
    .pool-img {
      width: 150px;
      height: 100px;
      position: absolute;
      left: 160px;
      bottom: -235px;
      z-index: -2;
    }
  
    #hello {
      font-size: 26px;
      font-weight: bolder;
      position: absolute;
      left: -50px;
      top: 0px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
  
    .sec1 pre {
      font-size: 16.5px;
      font-weight: 300;
      position: absolute;
      left: -43px;
      top: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
  }